/*
==============ASSETS==============
Font: Cinzel, poppins. 
border: #ccc;
color logo: #999; 
color home: #fff; 
color: #333
*/

/*
===============GENERAL===============
*/

@font-face {
    font-family: Cinzel-Variable;
    src: url("../font/Cinzel/Cinzel-VariableFont_wght.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../font/Poppins/Poppins-Regular.ttf");
}

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, h2, footer, .logo {
    font-family: Cinzel-Variable;
}

li, .h2__text p {
    font-family: Poppins;
}

/*
===============HEADER===============
*/
body .logo {
    color: #999;
    font-size: 3rem;
    font-weight: 200;
    text-transform: uppercase;
    padding: 5vh 0 2vh 3vw;
}

body header {
    padding-bottom: 35vh;
    margin-top: 4vh;
    background-image: url("https://images.unsplash.com/photo-1486312699619-be057cfc0342?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

body header h2 {
    width: 46vw;
    font-size: 7rem;
    color: #fff;
    margin: 0 auto;
    padding: 40vh 10vw 10vh 10vw;
}


/*
===============SECTION WITH TEXT AND PCTURES===============
*/
body section .h2__text  {
    text-align: center;
}

body section .h2__text h2 {
    font-size: 4rem;
    color: #333;
    padding: 12vh 0 8vh 0;
}

body section .h2__text p {
    width: 60vw;
    font-size: 1.5rem;
    margin: 2vh auto 16vh auto;
}

body section .pic {
    text-align: center;
}

body section .pic img {
    margin: 4vh;
}

/*
===============TOUR DATES===============
*/
body section:nth-of-type(2) h2 {
    text-align: center;
    font-size: 4rem;
    padding: 15vh 0 3vh 0;
}

body section:nth-of-type(2) article {
    padding-bottom: 25vh;
}

body section:nth-of-type(2) ul {
    padding: 2vh 0 0 6vw;
}

body section:nth-of-type(2) ul li {
    font-size: 2rem;
    list-style: none;
    word-spacing: 4px;
    margin-top: 2vh;
}

body section:nth-of-type(2) article .sold__out::after {
    content: " - SOLD OUT";
    color: red;
}

body section:nth-of-type(2) article .only__for::after {
    content: " - ONLY 4 SPOT AVAILABLE";
    color: red;
}

body section:nth-of-type(2) article .available::after {
    content: " - AVAILABLE";
    color: green;
}

/*
===============TOUR DATES===============
*/
body footer {
    padding: 5vh 0;
    border-top: 1px solid #ccc;
    font-size: 3rem;
    text-align: center;
}

body footer ul li {
    list-style: none;
    display: inline-block;
    margin: 2vw 2vw 0 2vw;
}

body footer ul li img {
    height: 5vh;
    width: auto;
}

body footer ul li img:hover {
    height: 6vh;
    width: auto;
}